dash>=2.18.1
diskcache
Faker
feffery_antd_components>=0.3.8
feffery_dash_utils>=0.1.4
feffery_markdown_components>=0.3.0rc3
feffery_utils_components>=0.2.0rc20
Flask==3.0.3
mistune==3.0.2
numpy
palettable==3.3.3
pandas
peewee
