dash==3.2.0
Faker
feffery_antd_components==0.4.2
feffery_dash_utils>=0.2.6
feffery_markdown_components==0.4.0
feffery_utils_components==0.3.2
mistune==3.0.2
numpy
palettable==3.3.3
pandas
peewee
dash_change_cdn_plugin==0.1.1
dash_console_filter_plugin==0.1.1
