._dash-loading {
    color: transparent;
    position: fixed;
    width: 320px;
    height: 240px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-image: url("/assets/imgs/loading3.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

._dash-loading::after {
    content: '';
}


div {
    margin: 0;
}

.div-highlight:target {
    border: 1px solid #1890ff;
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.05), -8px 0px 8px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px -8px 8px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: 250ms ease-out;
    transition-delay: 300ms;
    position: relative;
}

.ant-anchor-wrapper {
    transform: translateY(8px) !important;
}


#sider-demo .ant-layout-sider-trigger {
    position: absolute !important;
}

.ant-back-top {
    z-index: 999;
}

/*#router-menu:hover {*/
/*    overflow: hidden auto !important;*/
/*}*/